@import url("./main.css");

 .menuTable > th, td, tr{
    text-align: left;
    width: 100%;
    padding: 0px;
    border: 1px solid black;
    border-collapse: collapse;
}

.menupage__h1{
	font-size: large;
	font-style: oblique;
}
.menupage__h2{
	font-size: medium;
}