@import url("./main.css");

.personel__article{
    margin: 20px 30px;
    float: left;
}

.personel__article > p{
    /* float: right; */
    max-width: 400px;
}

.personel__image{
    /* display: block; */
    /* float: left; */
    max-width: 200px;
    max-height: 200px;
}

.personel{
    margin: auto;
    max-width: 80%;
}
